/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url("./images/background.jpg"), rgba(255, 255, 255, 0.41);
  background-size: cover;
  background-position: left;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(15 0px);
  scroll-behavior: smooth;
  transition: 300ms;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

span {
  color: white;
}

section {
  padding: 0 7rem;
}

/* HEADER */

.header {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.sticky {
  background-color: #3b605ffb;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
}

.menu {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.menu-link {
  font-weight: 600;
}

.menu-link:hover {
  transition: 200ms;
  color: #da4167;
}

.menu-link.active {
  color: #da4167;
}

.mobile-menu {
  display: none;
}

/* HOME */

#home {
  width: 100%;
  height: calc(100vh - 4rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-image {
  /* width: 400px;
  height: 400px; */
  /* border-radius: 50%; */
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px);
  border: 3px solid rgba(255, 255, 255, 0.5); */
  /* margin-right: 5rem; */
}

.home-image img {
  width: 100%;
  transform: scaleX(-1);
}

.home-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-headline {
  font-size: 2rem;
  font-weight: 500;
}

.home-paragraph {
  font-weight: 600;
}

.cta-btns {
  display: flex;
  gap: 1rem;
}

.cta-btn {
  display: block;
  padding: 1rem 1rem;
  border-radius: 50px;
  transition: 300ms;
  background: #64b6ac;
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.cta-cv {
  background-color: #fffff3;
  color: #64b6ac;
}

.cta-cv:hover {
  background-color: #0034a3;
}

.cta-contact {
  background-color: #da4167;
  color: white;
}

.cta-contact:hover {
  background-color: #0034a3;
  color: white;
}

/* Responsive for Home */

@media only screen and (max-width: 1400px) {
  .home-image {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 992px) {
  section {
    padding: 0 2rem;
  }

  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .home-image {
    width: 250px;
    height: 250px;
  }

  .home-headline {
    font-size: 1.5rem;
  }

  .home-paragraph {
    font-size: 1rem;
    font-weight: 400;
  }

  .cta-btns {
    justify-content: center;
  }

  .cta-btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 760px) {
  .logo h1 {
    font-size: 1.5rem;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu img {
    width: 2rem;
    color: white;
  }

  #home {
    background: url("./images/me.png");
    background-position: top;
    background-size: cover;
    background-blend-mode: lighten;
  }

  .home-container {
    gap: 2rem;
  }

  .home-text {
    width: 80%;
  }

  .home-image {
    display: none;
  }

  .home-headline {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 680px) {
  #section {
    padding: 0;
  }

  .home-text {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .home-headline {
    font-size: 1.5rem;
  }

  .cta-btns {
    margin-top: 2rem;
  }
}

/* ABOUT */

#about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.about-me {
  flex-basis: 50%;
}

.my-services {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 1rem;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: rgba(88, 91, 99, 0.142);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.51);
}

.service-title {
  font-weight: 600;
}

@media only screen and (max-width: 990px) {
  .about-container {
    flex-direction: column;
  }
}

/* PORTFOLIO */

#portfolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, max-content);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  position: relative;
}

.portfolio-container::-webkit-scrollbar {
  display: none;
}

.work {
  min-height: max-content;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 1190px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
    height: min-content;
  }
}

@media only screen and (max-width: 990px) {
  .portfolio-container {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    width: 100%;
    overflow: scroll;
  }

  .work {
    min-width: 40%;
    height: min-content;
  }
}

@media only screen and (max-width: 680px) {
  .work {
    min-width: 70%;
  }
}
